@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#root {
  width: 100%;
  height: 100%;
}
html,body {
  font-family: "Poppins" !important;
  width: 100%;
  height: 100%;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b1e5d3;
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.w-43{
  width: 25% !important;
}
input {
  outline: none !important;
  border: none;
}

input::placeholder {
  font-size: 12px;
}

tr {
  font-size: 13px;
  align-items: center;
  text-align: center;
  margin: auto;
}
td {
  margin: auto;
  align-items: center;
  text-align: center;
  align-self: center;
}

ul li{
  text-decoration: NONE;
  list-style: NONE;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.login-img-container {
  /* background-image: url("../public/img/login.png");
    background-repeat: no-repeat;
    background-size: cover; */
  align-items: center;
  text-align: center;
  margin: auto;
  width: 45%;
}
.login-img {
  width: 90%;
}
.login-container {
  width: 45%;
  border-radius: 15px 0 0 15px;
}
.btn-green {
  /* padding: 0.7rem 1.8rem !important; */
  display: inline-block !important;
  color: #fff !important;
  border-radius: 17px !important;
  text-align: center !important;
  /* background-color: #4da766 !important; */
  border: none !important;
  transition: all 300ms !important;
}
.btn-radius{
  border-radius: 2rem !important;
  padding: 0.5rem 2rem !important;

}
.btn-border-green {
  text-transform: uppercase;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-size: 0.9375rem;
  border-radius: 2rem !important;
  border: 1px #2e7d32 solid;
  color: #2e7d32;
  transition: 300ms;
}
.btn-border-green:hover {
  color: #fff;
  background-color: #2e7d32;
}

.btn-green:hover {
  background-color: #45915a !important;
}

#section {
  grid-gap: 5px;
  width: 100%;
}

.sidebar {
  width: 22%;
  border-radius: 15px 0 0 15px;
}

.sidebar-content {
  align-items: center;
}

/* .active {
  background-color: #45915a;
  color: #fff !important;
  padding: 0.8rem;
  display: block;
  border-radius: 1.3rem;
}
.active i {
  color: #fff !important;
} */

.nav {
  align-items: center;
  place-content: center;
}
.nav .nav-tabs {
  width: 70%;
  padding: 0;
}

.nav .nav-tabs .nav-link {
  margin: 2.7rem 0;
  font-weight: bolder;
  color: #000;
  transition: 300ms;
}
.nav .nav-tabs .nav-link:hover {
  background-color: #45915a;
  color: #fff;
  border-radius: 1.3rem;
  padding: 0.8rem;
}

a.active{

    background-color: #45915a !important;
    color: #fff !important;
    border-radius: 1.3rem !important;
  padding: 0.8rem;
    
  
}

.nav .nav-tabs .nav-link a {
  text-decoration: none;
  color: unset;
}

.nav .nav-tabs .nav-link i {
  text-decoration: none;
  /* color: #4da766; */
  font-size: 19px;
  padding: 5px 3px 0 0;
}

.main {
  width: 78%;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  border-radius: 0px 15px 15px 0;
}

.main-field{
  /* min-height: 100%; */
}
.main-field .main-content{
  min-height: 100%;
}

.header {
  margin-top: 1.5rem;
}
.header h2 {
  font-weight: bolder;
}

.output-btn-container .btn-green {
  padding: 0.6rem 2.5rem;
  border-radius: 2rem !important;
  border: 1px #45915a solid;
}

.search-icon {
  top: 14px;
  right: 14px;
  font-size: 17px !important;
}

.search-input {
  background-color: #e6f0e8;
  color: #000;
  margin-left: 10px;
  padding: 0.75rem 2.5rem;
  box-shadow: 2px 4px 10px rgba(190, 234, 185, 0.74);
  border-radius: 24px;
  transition: 500ms;
}

.search-input:focus {
  box-shadow: 7px 9px 15px rgba(154, 192, 150, 0.74);
}

.table-container{
  
}

.table {
  height: 100%;
  /* border: 1px #000 solid; */
  border-collapse: collapse;
  border-radius: 1rem;
}

.thead{
  border-radius: 5px;
  z-index: 99;
}

.table td {
  
  text-align: center;
  border: 1px #e8f5eb solid;
  width: 16px;
  height: 16px;
}

tr .btn-green {
  width: 80%;
  border-radius: 2rem !important;

}

/* tr:nth-child(odd) {
  background: 248, 249, 250;;
}  */

.table tr{
  background-color: rgb(248, 249, 250);

}
.table tr:hover{
  background-color: rgb(242, 242, 242);


}
tr:nth-child(even) {
  background: #e8f5eb ;
} 
tr:nth-child(even):hover {
  background:#e6f0e8 ;
} 


#register{
height: 100%;
}

.reg-container{
  height: 100%;
  text-align: center;
  margin: auto;
}

.reg-content{
  width: 35%;
}

.chart{
  margin: auto;
  align-items: center;
  text-align: -webkit-center;
}